[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
mlflow = "*"
prefect = "*"
boto3 = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.10"
